.light{
    background-color: white;
    color: black;
}
.dark{
    background-color: black;
    color: white;
}



/* div{
    width: 100px;
    height: 100px;
    background-color: dodgerblue;
    color: white;
    margin-top: 50px;
    padding: 10px;
} */


















/* body{
    background-color: rgb(235, 166, 225);
} */
/* h1{
    font-size: 40px;
    color: chocolate;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    background-color: yellow;
}
h4{
    color: #fff;
    background-color: gray;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
.box{
    border: 1px solid red;
    width: 100px;
    height: 100;
    text-align: center;
    padding: 10px;
    background-color: orange;
}
.para{
    background-color: green;
    font-weight: bold;
}
.newpara{
    font-size: 18px;
    color: white;
    padding: 10px;
} */